<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>Chi tiết danh mục</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><a href="/admin">Trang chủ</a></li>
          <li><a href="/admin/categories">Quản lý danh mục</a></li>
          <li class="active">Chi tiết sản phẩm</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content mt-3">
  <div class="animated">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Chi tiết sản phẩm</strong>
          </div>
          <div class="card-body">
            <table
              id="bootstrap-data-table-export"
              class="table table-striped table-bordered"
            >
              <colgroup>
                <col style="width: 25%" />
                <col />
              </colgroup>
              <tbody>
                <tr>
                  <td>Tên sản phẩm</td>
                  <td class="bg-w"><%= product.name%></td>
                </tr>
                <tr>
                    <td>Loại sản phẩm</td>
                    <td class="bg-w"><%= product.category%></td>
                  </tr>
                  <tr>
                    <td>Số lượng</td>
                    <td class="bg-w"><%= product.amount%></td>
                  </tr>
                  <tr>
                    <td>Người bán</td>
                    <td class="bg-w"><%= product.seller%></td>
                  </tr>
                  <tr>
                    <td>Ngày đăng bán</td>
                    <td class="bg-w"><%= product.sellDate%></td>
                  </tr>
                  <tr>
                    <td>Hình ảnh</td>
                    <td class="bg-w"><%= product.images%></td>
                  </tr>
                  <tr>
                    <td>Giá hiện tại</td>
                    <td class="bg-w"><%= product.currentPrice%></td>
                  </tr>
                  <tr>
                    <td>Người ra giá</td>
                    <td class="bg-w"><%= product.bidder%></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
