<div class="main-content">
  <div class="page-top-info">
    <div class="container">
      <h4>Lịch sử đấu giá</h4>
    </div>
  </div>
  <section class="product-section">
    <div class="container">
      <div class="back-link">
        <a href="/products/<%= product.id%>">
          &lt;&lt; Trở về chi tiết sản phẩm</a
        >
      </div>
      <div class="row">
        <div class="col-lg-12 product-details">
          <h2 class="p-title"><%= product.name%></h2>
          <h3>Nguời bán: <%= product.seller%></h3>
          <table class="history-bid table table-striped m-t-10">
            <thead>
              <tr>
                <th>Thời điểm</th>
                <th>Người mua</th>
                <th>Giá</th>
                <% if(user) { %>
                  <% if(user.authId === product.seller) { %>
                    <th>Từ chối đấu giá</th>
                  <%}}%>
              </tr>
            </thead>
            <tbody>
              <%if (!product.historyBidId.turn.length) { %>
              <tr>
                <td colspan="4">
                  <h3>Chưa có lượt đấu giá</h3>
                </td>
              </tr>
              <% } else { product.historyBidId.turn.forEach(function(element, index){ %>
              <tr>
                <td><%= element.bidDate%></td>
                <td><%= element.username%></td>
                <td><%= element.price%></td>
                <% if(user) { %>
                  <% if(user.authId === product.seller) { %>
                <td>
                  <form action="/products/block" method="POST">
                    <input type="hidden" name="id" value="<%= product.id%>">
                    <input type="hidden" name="username" value="<%= username[index]%>">
                    <button type="submit" class="btn btn-danger">Từ chối</button>
                  </form>
                </td>
                <%}}%>
              </tr>
              <% });};%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
