<div class="main-content">
  <div class="">
    <div class="top-product">
      <div class="header-top-product">
        <h2 class="text-center p-tb-20 font-weight-bold">
          TOP 5 SẢN PHẨM GẦN KẾT THÚC
        </h2>
      </div>
      <div class="row content-top-product">
        <% list1.forEach(function(product, index){ %>
        <div class="col-2">
          <img src="<%= "/" + product.images[0]%>" alt="image" width="200px"
          height="200px" class="m-b-5" />
          <h5><%= list1[index].name%></h5>
          <p>
            Giá hiện tại: <%= new
            Intl.NumberFormat('ja-JP').format(product.currentPrice)%>
          </p>
          <p>Ngày đăng: <%= sellDateL1[index]%></p>
          <p>Còn lại: <%= expDateL1[index]%></p>
          <p>Số lượt ra giá: <%= product.historyBidId.turn.length%></p>
          <div class="prd-bottom">
            <a href="/user/wishlist/add/<%= product.id%>" class="social-info">
              <span class="fa fa-heart"></span>
              <p class="hover-text">Yêu thích</p>
            </a>
            <a href="/products/<%= product._id%>" class="social-info">
              <span class="fa fa-info"></span>
              <p class="hover-text">Chi tiết</p>
            </a>
          </div>
        </div>
        <%})%>
      </div>
    </div>
    <div class="top-product">
      <div class="header-top-product">
        <h2 class="text-center p-tb-20 font-weight-bold">
          TOP 5 SẢN PHẨM CÓ NHIỀU LƯỢT RA GIÁ NHẤT
        </h2>
      </div>
      <div class="row content-top-product">
        <% list2.forEach(function(product, index){ %>
        <div class="col-2">
          <img src="<%= "/" + product.images[0]%>" alt="image" width="200px"
          height="200px" class="m-b-5" />
          <h5><%= list1[index].name%></h5>
          <p>
            Giá hiện tại: <%= new
            Intl.NumberFormat('ja-JP').format(product.currentPrice)%>
          </p>
          <p>Ngày đăng: <%= sellDateL2[index]%></p>
          <p>Còn lại: <%= expDateL2[index]%></p>
          <p>Số lượt ra giá: <%= product.historyBidId.turn.length%></p>
          <div class="prd-bottom">
            <a href="/user/wishlist/add/<%= product.id%>" class="social-info">
              <span class="fa fa-heart"></span>
              <p class="hover-text">Yêu thích</p>
            </a>
            <a href="/products/<%= product.id%>" class="social-info">
              <span class="fa fa-info"></span>
              <p class="hover-text">Chi tiết</p>
            </a>
          </div>
        </div>
        <%})%>
      </div>
    </div>
    <div class="top-product">
      <div class="header-top-product">
        <h2 class="text-center p-tb-20 font-weight-bold">
          TOP 5 SẢN PHẨM CÓ GIÁ CAO NHẤT
        </h2>
      </div>
      <div class="row content-top-product">
        <% list3.forEach(function(product, index){ %>
                    <div class="col-2">
                        <img src="<%= "/" + product.images[0]%>" alt="image" width="200px" height="200px"
                            class="m-b-5" />
                        <h5><%= product.name%></h5>
                        <p>Giá hiện tại: <%= new
                            Intl.NumberFormat('ja-JP').format(product.currentPrice)%>
                            </p>
                        <p>Ngày đăng: <%= sellDateL3[index]%></p>
                        <p>Còn lại: <%= expDateL3[index]%></p>
                        <p>Số lượt ra giá: <%= product.historyBidId.turn.length%></p>
                        <div class="prd-bottom">
                            <a href="/user/wishlist/add/<%= product.id%>" class="social-info">
                                <span class="fa fa-heart"></span>
                                <p class="hover-text">Yêu thích</p>
                            </a>
                            <a href="/products/<%= product.id%>" class="social-info">
                                <span class="fa fa-info"></span>
                                <p class="hover-text">Chi tiết</p>
                            </a>
                        </div>
                    </div>    
                <%})%>
      </div>
    </div>
  </div>
</div>
