<div class="main-content">
  <div class="page-top-info">
    <div class="container">
      <h4>Chi tiết sản phẩm</h4>
    </div>
  </div>
  <section class="product-section">
    <div class="container">
      <div class="back-link">
        <a href="/products"> &lt;&lt; Trở về danh sách sản phẩm</a>
      </div>
      <div class="row detail-product">
        <div class="col-6">
          <div class="product-pic-zoom">
            <img
              class="product-big-img"
              src="/images/laptop/laptop-macbookpro-2017.png"
              alt=""
            />
          </div>
          <div
            class="product-thumbs"
            tabindex="1"
            style="overflow: hidden; outline: none;"
          >
            <div class="product-thumbs-track">
              <div
                class="pt active"
                data-imgbigurl="/images/laptop/macbookpro-2017-1.webp"
              >
                <img src="/images/laptop/macbookpro-2017-1.webp" alt="" />
              </div>
              <div
                class="pt"
                data-imgbigurl="/images/laptop/macbookpro-2017-2.webp"
              >
                <img src="/images/laptop/macbookpro-2017-2.webp" alt="" />
              </div>
              <div
                class="pt"
                data-imgbigurl="/images/laptop/macbookpro-2017-3.webp"
              >
                <img src="/images/laptop/macbookpro-2017-3.webp" alt="" />
              </div>
              <div
                class="pt"
                data-imgbigurl="/images/laptop/laptop-macbookpro-2017.png"
              >
                <img src="/images/laptop/laptop-macbookpro-2017.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 product-details">
          <h2 class="p-title"><%= product.name%></h2>
          <h3 class="p-price">
            Giá hiện tại: <%= new
            Intl.NumberFormat('ja-JP').format(product.currentPrice)%> (vnđ)
          </h3>
          <% if (product.bestPrice) { %>
          <h3 class="p-price">
            Giá mua ngay: <%= new
            Intl.NumberFormat('ja-JP').format(product.bestPrice)%> (vnđ)
          </h3>
          <% };%>
          <h4 class="p-stock">Tình trạng: <span>Đang đấu giá</span></h4>
          <h4 class="p-stock">
            <a href="/products/bidhistory/<%= product.id%>"
              ><span>Lịch sử đấu giá</span></a
            >
          </h4>
          <div class="info-product">
            <h4 class="p-stock">
              Thông tin người đặt giá cao nhất & điểm đánh giá:
              <a href="/user/<%= product.topBidder%>" class="span1"> <%= topBidder%></a>
            </h4>
          </div>
          <div class="info-product">
            <h4 class="p-stock">
              Thông tin người bán & điểm đánh giá:
              <a href="/user/<%= product.seller%>" class="span1"><%= seller%></a>
            </h4>
          </div>
          <div class="info-product">
            <h4 class="p-stock">Thời gian đăng: <span><%= sellDate%></span></h4>
          </div>
          <div class="info-product">
            <h4 class="p-stock">Thời gian kết thúc: <span><%= expDate%></span></h4>
          </div>
          <form action="">
            <strong class="fs-19">Giá đề nghị</strong>
            <small>(Điểm đánh giá phải trên 80 mới được đấu giá)</small>
          </form>
          <div class="def-number-input number-input">
            <button
              onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
              class="minus"
            ></button>
            <input
              class="quantity"
              min="<%product.currentPrice + product.stepPrice%>"
              <%if(product.bestPrice !== 0){%>
              max="<%= product.bestPrice%>" 
              <% } %>
            name="quantity" 
            value="<%=product.currentPrice + product.stepPrice%>" 
            type="number" step="<%=product.stepPrice%>" />
            <button
              onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              class="plus"
            ></button>
          </div>
          <div>
            <%if (user) { %>
              <% if(user.reviews.point > 80 && product.block.indexOf(user.authId) === -1) { %>
              <button type="button" data-toggle="modal"
              data-target="#exampleModal" class="site-btn btn-bid-product btn-bid" >ĐẶT GIÁ</button>
            <% }} else { %>
            <button type="button" data-toggle="modal"
            data-target="#exampleModal" class="site-btn btn-bid-product btn-bid" disabled>ĐẶT GIÁ</button>
            <% } %>
            <a
              href="/user/wishlist/add/<%= product.id%>"
              class="wishlist-btn color-666666"
              ><i class="fa fa-heart-o"></i
            ></a>
          </div>
        </div>
        <div class="col-12">
          <div id="accordion" class="accordion-area">
            <div class="panel">
              <div class="panel-header" id="headingOne">
                <button
                  class="panel-link active"
                  data-toggle="collapse"
                  data-target="#collapse1"
                  aria-expanded="true"
                  aria-controls="collapse1"
                >
                  Thông tin chi tiết
                </button>
              </div>
              <div
                id="collapse1"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="panel-body description">
                  <%- product.description %>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-header" id="headingTwo">
                <button
                  class="panel-link"
                  data-toggle="collapse"
                  data-target="#collapse2"
                  aria-expanded="false"
                  aria-controls="collapse2"
                >
                  Thông tin bảo hành
                </button>
              </div>
              <div
                id="collapse2"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
              >
                <div class="panel-body">
                  <p>
                    Sản phẩm hỗ trợ bảo hành trong vòng 1-2 năm.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-header" id="headingThree">
                <button
                  class="panel-link"
                  data-toggle="collapse"
                  data-target="#collapse3"
                  aria-expanded="false"
                  aria-controls="collapse3"
                >
                  Giao hàng và nhận hàng
                </button>
              </div>
              <div
                id="collapse3"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordion"
              >
                <div class="panel-body">
                  <h4>Đổi trả trong vòng 7 ngày</h4>
                  <p>
                    Giao hàng: COD<br />Nhận hàng trong:
                    <span>3 - 4 ngày</span>
                  </p>
                  <p>
                    Nội thành TP. HCM: Miễn phí.
                    <br />
                    Ngoại thành và các tỉnh khác: Có tính phí
                  </p>
                  <img src="/images/cards.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- RELATED PRODUCTS section -->
  <section class="related-product-section">
    <div class="container">
      <div class="header-related-product">
        <h2 class="text-center p-tb-20 font-weight-bold">
          SẢN PHẨM LIÊN QUAN
        </h2>
      </div>
      <div class="row content-related-product">
        <% relatedProduct.forEach(function(product, index){%>
          <div class="col-md-2 col-lg-2 txt-center">
            <img
              src="<%= "/" + product.images[0]%>"
              alt="image"
              width="200px"
              height="200px"
              class="m-b-5"
            />
            <h5><%= product.name%></h5>
            <a href="/products/<%= product.id%>">Xem chi tiết sản phẩm</a>
          </div>
        <%})%>
      </div>
    </div>
  </section>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Xác nhận
                  </h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Bạn có chắc muốn ra giá?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Huỷ
                  </button>
                  <form action="/products/bid/<%= product.id%>" method="GET">
                    <input type="hidden" class="bidPrice" name="bidPrice" value="">
                    <button type="submit" class="btn btn-primary">
                      Chấp nhận
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
</div>
