<div class="main-content">
  <div class="page-top-info">
    <div class="container">
      <h4>Danh sách yêu thích</h4>
    </div>
  </div>
  <section class="profile-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <% wishlist.forEach(function(product, index){ %>
          <div class="panel-body">
            <h3><%= product.name%></h3>
            <div class="row m-tb-25">
              <div class="col-3">
                <img src="<%= "/" + product.images[0]%>" alt="" width="200px"
                height="200px" />
              </div>
              <div class="col-5 p-t-20">
                <p>
                  Cung cấp bởi:
                  <a href="/user/<%= product.seller%>"><%= product.seller%></a>
                  <br />
                  Ngày đăng: <%= sellDate[index]%> <br />
                  Thời gian còn lại: <%= expDate[index]%>
                </p>
                <br>
                <a href="/products/<%= product.id%>">Xem chi tiết sản phẩm</a>
              </div>
              <div class="col-4">
                <form action="/user/wishlist/del" method="POST">
                  <input type="text" name="id" hidden value="<%= product.id%>">
                  <button class="btn btn-danger" type="submit">
                    <i class="fa fa-times"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <%});%>
        </div>
      </div>
    </div>
  </section>
</div>
